[submodule "Projetos/back-end/Projetos/back-end/sd-033-a-project-trybesmith"]
	path = Projetos/back-end/Projetos/back-end/sd-033-a-project-trybesmith
	url = https://github.com/tryber/sd-033-a-project-trybesmith
